@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
	--white: #fff;
	--white-trans: #ffffffdf;
	--primary: #add981;
	--secondary: #97c767;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background: var(--white);
}

h1,
h2 {
	margin: 0;
	font-family: 'Abril', serif;
	font-weight: 600;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.85rem;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

p {
	margin: 0;
	line-height: 1.25;
}

.fas {
	color: var(--primary);
}

header,
.hero,
footer {
	font-weight: 400;
}

ul {
	padding: 0;
	list-style: none;
}

img {
	display: block;
	width: 100%;
}

.container {
	width: 85%;
	margin: 0 auto;
}

h2::after {
	content: '';
	width: 7%;
	height: 5px;
	background: var(--primary);
	position: absolute;
	bottom: -0.1em;
	left: 0;
}

/* Header */
header {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}

header .container--logo {
	padding: 0.75em 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container--logo .logo {
	width: 80px;
}

header .container--logo .open,
header .container--dropdown .close {
	cursor: pointer;
}

header .container--dropdown {
	display: none;
	background: var(--white);
	position: absolute;
	top: 0;
	width: 100%;
}

header .container--dropdown .close {
	color: inherit;
	position: absolute;
	right: 0;
	margin: 1em;
}

nav {
	padding: 2.5em;
	font-weight: 500;
}

ul {
	padding-left: 0;
	margin: 0;
}

nav li + li {
	margin-top: 3em;
}

/* Hero */
.hero {
	color: var(--white);
	position: relative;
}

.hero img {
	height: 100vh;
	object-fit: cover;
	object-position: left;
}

.hero .container--hero {
	position: absolute;
	top: 0;
	padding: 1.5em;
	height: 100%;
	width: 100%;
}

.hero h1 {
	top: 50%;
	width: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.hero .scroll {
	font-size: 0.8rem;
	position: absolute;
	bottom: 1.5em;
}

header .fas,
.hero .fas {
	color: var(--white);
}

.hero .fas {
	margin-left: 0.5em;
}

/* Services */
.service {
	padding: 1.5em 0;
	text-align: center;
}

.service__description {
	margin-top: 1em;
	margin-bottom: 0;
}

/* Best Sales & Plants */
#best-sales,
#plants {
	padding: 2em 0;
}

#best-sales .cards,
#plants .cards {
	margin-top: 1.5em;
}

/* card */
.card {
	position: relative;
}

.card + .card {
	margin-top: 2.5em;
}

.card__body {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1em;
	background: var(--white-trans);

	position: absolute;
	bottom: 0;
	width: 100%;
}

.card__desc {
	order: -1;
}

.card .read-more {
	font-size: 0.85rem;
	font-weight: 500;
	padding: 0.6em 1.15em;

	color: var(--white);
	background: var(--primary);
	border-radius: 2em;
}

.card .read-more:hover,
.card .read-more:focus {
	background: var(--secondary);
}

.card .price {
	font-size: 0.85rem;
	font-weight: 700;
	color: var(--primary);
	margin-top: 0.35em;
}

/* Footer */
footer {
	font-size: 0.75rem;
	font-weight: 600;

	padding: 1.5em 0;
	text-align: center;
}

footer p + p {
	margin-top: 0.75em;
}

/* Media queries */
@media (min-width: 600px) {
	header .container--logo .logo {
		width: 120px;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	header .container--logo {
		padding: 1em 2.5em;
	}

	#services {
		padding: 2em 0;
	}

	.service + .service {
		margin-top: 2em;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		gap: 2em;
	}

	#plants .cards {
		grid-template-columns: none;
		grid-template-areas:
			'feature small1'
			'feature small2'
			'side1 wide'
			'side2 empty';
		align-items: stretch;
	}

	#plants .cards .card img {
		height: 100%;
	}

	#plants .cards .card:first-child {
		grid-area: feature;
	}

	#plants .cards .card:nth-child(2) {
		grid-area: small1;
	}

	#plants .cards .card:nth-child(3) {
		grid-area: small2;
	}

	#plants .cards .card:nth-child(4) {
		grid-area: side1;
	}

	#plants .cards .card:nth-child(5) {
		grid-area: side2;
	}

	#plants .cards .card:last-child {
		grid-area: wide;
	}

	.card + .card {
		margin-top: 0;
	}

	footer {
		padding: 1.5em 2.5em;
		display: flex;
		justify-content: space-between;
	}

	footer p + p {
		margin-top: 0;
	}
}

@media (min-width: 900px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3.5rem;
	}

	header {
		display: flex;
		align-items: center;
		width: 100%;
	}

	header .container--logo .open,
	header .container--dropdown .close {
		display: none;
	}

	header img {
		width: 175px;
	}

	header .container--dropdown {
		display: block !important;
		background: none;
		position: static;
		width: auto;
		margin-left: 3em;
	}

	header .container--dropdown nav ul {
		display: flex;
		color: var(--white);
	}

	nav {
		padding: 0;
	}

	nav li + li {
		margin-top: 0;
		margin-left: 2em;
	}

	.hero h1 {
		width: 35%;
	}

	.hero br {
		display: none;
	}

	#plants .cards {
		grid-template-columns: none;
		grid-template-rows: none;
		grid-template-areas:
			'feature feature small1'
			'feature feature small2'
			'side1 wide side2'
			'side1 wide side2';
		align-items: stretch;
	}

	#plants .cards .card img {
		object-fit: cover;
		object-position: center;
	}
}

@media (min-width: 1200px) {
	.hero .container--hero {
		padding: 2em 4em;
	}

	.hero h1 {
		margin-bottom: 3.5em;
	}

	#services {
		padding: 3.5em 0;
	}

	#services .container {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.service + .service {
		margin-top: 0;
	}

	#best-sales {
		margin-bottom: 5em;
	}

	#best-sales .cards {
		display: flex;
		gap: 0;
	}

	#plants {
		margin-bottom: 5em;
	}

	#plants .cards {
		grid-template-columns: none;
		grid-template-rows: none;
		grid-template-areas:
			'feature feature small1 small1'
			'feature feature small2 small2'
			'side1 wide wide side2'
			'side1 wide wide side2';
		align-items: stretch;
	}

	#plants .cards .card:nth-child(5) {
		grid-area: wide;
	}

	#plants .cards .card:last-child {
		grid-area: side2;
	}
}
